<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/booking.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
  <title>Document</title>
</head>

<body>
  <div class="contair">
    <div class="frames1">
      <h5 class="canho">Căn hộ ấm cúng, thân thiện ở trung tâm thành phố</h5>
      <p class="fasolis">
        <i class="fa-solid fa-star"></i> 5,0 .<u>20 đánh giá.</u>
        <i class="fa-solid fa-heart"></i> Chủ nhà siêu cấp .
        <u>Mễ trì Mỹ đình Hà Nội</u>
      </p>
      <div class="numboner">
        <button class="chiase">
          <i class="fa-solid fa-arrow-up-from-bracket"></i><u>Chia sẻ</u>
        </button>
        <button class="lua">
          <i class="fa-solid fa-heart"></i><u>Lưu</u>
        </button>
      </div>
      <div class="anh">
        <img class="http1"
          src="/anhcuaan/chanlam.webp"
          alt="" />
        <div class="khunganh2">
          <img class="http2"
            src="/anhcuaan/andeptra.webp"
            alt="" />
          <img class="http3"
            src="/anhcuaan/anxinhagai.webp"
            alt="" />
          <img class="http4"
            src="/anhcuaan/dungcava.webp"
            alt="" />
          <img class="http5"
            src="/anhcuaan/tronthoi.webp"
            alt="" />
          <button class="butun">Hiển thị tất cả ảnh</button>
        </div>
      </div>
      <div class="posion">
        <div class="heloword">
        <img class="chunha"
          src="https://scontent.fhph1-3.fna.fbcdn.net/v/t1.6435-9/154439130_249833606729962_7356751969801647539_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=174925&_nc_ohc=9WO7NKdsM0UAX_tk4PR&_nc_ht=scontent.fhph1-3.fna&oh=00_AfCrFm7rpZ-Y4Z6ZtLrIb4286He-P0PWhlGYUJOxaim_dg&oe=6381D1D4"
          alt="" />
          </div>
          <div class="heloword1"> 
        <h3 >Phòng riêng tại căn hộ cho thuê. Chủ nhà An Checker</h3>
        <p>2 khách . 1 phòng ngủ . 1 giường . 1 phòng tắm riêng</p>
        <br />
        <br />
        <br>
      </div>
      </div>
    </div>
    <div class="bang">
      <div class="faan">
      <p class="clas"><i class="fa-solid fa-hashtag"></i>14 đêm</p>
      <p class="clas1"><i class="fa-solid fa-star"></i>5,0. 20 đánh giá</p>
    </div>
    <div class="bang2">
      <div class="taito">
        <p class="nhan">Nhận phòng</p>
        <p class="nhan1">1/12/2022</p>
      </div>
      <div class="taito1">
        <p class="nhan">Tra phòng</p>
        <p class="nhan1">6/12/2022</p>
      </div>
    </div>
    <div class="bang3">
      <p class="nhan3">Kháck</p>
      <p class="nhan4">1 khách</p>
    </div>
    <button class="kiemtra">Kiểm tra tình trạng phòng</button>
    </div>
    <div class="famyli">
      <p class="passion1">
        <i class="fa-sharp fa-solid fa-user"></i>An checker là chủ nhà siêu
        cáp
      </p>
      <p class="eternity1">
        Chủ nhà siêu cấp là những chủ nhà có kinh nghiệm, được đánh giá cao và
        là những người cam kết mang lại quãng thời gian ở tuyệt vời cho khách.
      </p>
      <p class="passion2">
        <i class="fa-sharp fa-solid fa-location-dot"></i>Địa điểm tuyệt vời
      </p>
      <p class="eternity2">
        100% khách gần đây đã xếp hạng 5 sao cho vị trí này.
      </p>
      <p class="passion3">
        <i class="fa-sharp fa-solid fa-tree"></i>Trải nghiệm nhận phòng tuyệt
        vời
      </p>
      <p class="eternity3">
        100% khách gần đây đã xếp hạng 5 sao cho quy trình nhận phòng.
      </p>
      <br />
      <br />
    </div>
    
    <div class="freedom">
      <div class="palay">
        <p class="flay1">ari</p>
        <p class="play2">cover</p>
      </div>
      <p class="cherish1">
        Mọi đặt phòng đều được bảo vệ miễn phí trong trường hợp Chủ nhà hủy,
        thông tin nhà/phòng cho thuê không chính xác và những vấn đề khác như
        sự cố trong quá trình nhận phòng.
      </p>
      <p class="timem"><u>Tìm hiểu thêm</u></p>
      <p class="cherish2">
        Căn hộ nằm trên phố Đào Tấn, gần Trung tâm thương mại Lotte, nhiều nhà
        hàng và các điểm tham quan du lịch, gần công viên, Hồ Tây, hồ Ngọc
        Khánh, Lăng Chủ Tịch Hồ Chí Minh, gần bến xe buýt, di chuyển đến các
        điểm du lịch, công ty, bệnh viện, trường học
      </p>
      <br />
      <br />
    </div>
    <div class="rainbow">
      <h2>Nơi bạn sẽ ngủ nghỉ</h2>
      <img class="bonsai"
        src="https://a0.muscache.com/im/pictures/miso/Hosting-52978253/original/54431762-b49f-4781-9665-c26e83382bc5.jpeg?im_w=320"
        alt="" />
      <h4 class="khu1">Khu vực sinh hoạt</h4>
      <p class="khu2">1 giường đôi , 1 đi-văng</p>
      <br>
      <br>
    </div>
    <div class="am-afraid">
      <p class="am1">Nơi này có những gì cho bạn</p>
      <div class="only-child">
        <div class="child">
          <p><i class="fa-sharp fa-solid fa-trash"></i>Bếp</p>
          <p>
            <i class="fa-sharp fa-solid fa-mug-hot"></i>Không gian làm việc
            riêng
          </p>
          <p><i class="fa-sharp fa-solid fa-film"></i>Thang máy</p>
          <p><i class="fa-sharp fa-solid fa-droplet"></i>Điều hòa nhiệt độ</p>
        </div>
        <div class="child1">
          <p><i class="fa-sharp fa-solid fa-wifi"></i>Wifi</p>
          <p><i class="fa-sharp fa-solid fa-inbox"></i>Tivi</p>
          <p>
            <i class="fa-sharp fa-solid fa-dumpster-fire"></i>Máy giặt miễn
            phí - trong tòa nhà
          </p>
          <p><i class="fa-sharp fa-solid fa-cloud"></i>Máy sấy</p>
        </div>
      </div>
      <button class="baby">Hiện thị tất cả 32 tiện nghi</button>
      <br>
      <br>
      <br>
    </div>
    <!-- Phân lịch -->
    <div class="famita">
      <p class="Whazzup"><i class="fa-sharp fa-solid fa-star"></i>5,0.20 đánh giá</p>
      <div class="Hey-man">
        <div class="haymacon">
          <p class="danhgia">Đánh giá</p>
        </div>
        <div class="stars">
          <form action="">
            <input class="star star-5" id="star-5" type="radio" name="star"/>
            <label class="star star-5" for="star-5"></label>
            <input class="star star-4" id="star-4" type="radio" name="star"/>
            <label class="star star-4" for="star-4"></label>
            <input class="star star-3" id="star-3" type="radio" name="star"/>
            <label class="star star-3" for="star-3"></label>
            <input class="star star-2" id="star-2" type="radio" name="star"/>
            <label class="star star-2" for="star-2"></label>
            <input class="star star-1" id="star-1" type="radio" name="star"/>
            <label class="star star-1" for="star-1"></label>
          </form>
        </div>

      </div>
      <div class="Heeey">
        <div class="meetyou">
          <img class="bikini" src="/anhcuaan/bikini-09.jpg" alt="">
          <div class="meetti">
            <p class="lee">An phóng lợn</p>
            <p class="thang">tháng 10 năm 2022</p>
            <p class="Goodbye">Em An rất tuyệt, chuẩn bị đủ đồ tiện nghi cho khách. Phòng sạch sẽ thoáng</p>
          </div>
        </div>
        <div class="meetyou1">
          <img class="bikini1" src="/anhcuaan/aa707296157da73571a54bbd97c47c34.jpg" alt="">
          <div class="Thanks">
            <p class="chi">Hoàng Thiên Trốn</p>
            <p class="chatluong">Tháng 4 năm 2022</p>
            <p class="goodbya">Chất lượng bên mình rất tuyệt vời</p>
          </div>
        </div>
      </div>
      <div class="Heeey1">
        <div class="meetyou2">
          <img class="bikini2" src="/anhcuaan/anh-1-1621645023-498-width650height813.jpg" alt="">
          <div class="Thanks1">
            <p class="chi1">Cường đình thôn</p>
            <p class="chatluong1">Tháng 6 năm 2022</p>
            <p class="goodbya1">Em An cực kỳ thân thiện và chu đáo ạ. Phòng ốc và các đồ dùng đều được chị Vân take care
              bằng tay nên gọn gàng và sạch sẽ cực kì.</p>
          </div>
        </div>
        <div class="meetyou3">
          <img class="bikini3" src="/anhcuaan/ádsdsadasdasđ.jpg" alt="">
          <div class="Thanks2">
            <p class="chi2">Dũng cave</p>
            <p class="chatluong2">Tháng 1 năm 2022</p>
            <p class="goodbya1">Phòng sạch sẽ, thơm, đầy đủ tiện nghi. Chủ nhà nhiệt tình, dễ thương.</p>
          </div>
        </div>
      </div>
      <button class="No-way">Hiển thị tất cả các ảnh</button>
      <br>
      <br>
      <br>
    </div>
    <div class="famitaat">
      <p class="noi">Nơi bạn muốn đến</p>
      <p class="nhanghi">Nhà nghỉ ngân hà , Đình thôn , Nam từ liêm , Hà nội</p>
      <iframe class="bando"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3572.6252122996316!2d105.77385961808268!3d21.019105084481396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454ac81247d1d%3A0xb81d70267b0b46ee!2zTmjDoCBuZ2jhu4kgTmfDom4gSMOg!5e0!3m2!1svi!2s!4v1667200761249!5m2!1svi!2s"
        width="92%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      <br>
      <br>
      <br>
      <hr class="hr">
    </div>
    <div class="Hell-no">
        <img class="imgpolo" src="https://scontent.fhan4-1.fna.fbcdn.net/v/t39.30808-6/301720895_610531690660150_2275139478504843167_n.jpg?stp=cp6_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=vaLxYq9Um-cAX8gyL4d&_nc_ht=scontent.fhan4-1.fna&oh=00_AfBkARQzNlKxaS_BaU07LTdLAokLjYTZpLRx7heHCZsgbQ&oe=63638E13" alt="">
    <div class="hell">
      <p class="Good1">Chủ nhà An checker</p>
      <p class="Good2">Đã tham gia vào tháng 10 năm 2021</p>
    </div>
      </div>
      <div class="Great">
        <div class="garen1">
        <p><i class="fa-sharp fa-solid fa-star"></i>1000 Đánh giá</p>
        <p><i class="fa-sharp fa-solid fa-check"></i>Đã xác minh danh tính</p>
      </div>
      </div>
      <div class="thinking">
        <p class="thick">An checker là một chủ nhà siêu cấp</p>
        <p class="thick">Chủ nhà siêu cấp là những người có kinh nghiệm, được đánh giá cao và cam kết mang lại kỳ nghỉ tuyệt vời cho khách</p>
        <p class="thick">Ngôn ngữ: English</p>
      <p class="thick">Tỉ lệ phản hồi: 100%</p>
      <p class="thick">Thời gian phản hồi: trong vòng một giờ</p>
     <button class="contaitt">Liên hệ với chủ nhà</button>
     <p class="baove"><i class="fa-sharp fa-solid fa-ghost"></i>Để bảo vệ khoản thanh toán của bạn, tuyệt đối không chuyển tiền hoặc liên lạc bên ngoài trang web hoặc ứng dụng Airbnb.</p>
    </div>
  </div>
</body>

</html>