
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/register.css">
    <title>Document</title>
</head>
    <body>
        <div id="login">
            <h3 class="text-center text-white pt-5">Login form</h3>
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="regter-form" class="form" action="">
                                <h3 class="text-center text-info">Register Booking.com</h3>
                                <div class="form-group">
                                    <label for="First name" class="text-info firstname">First name:</label><br>
                                    <input type="firstname" name="firstname" id="firstname" class="form-control inputfirstname">
                                    <!-- <p class="emali" id="email-error-message">Không được bỏ trống</p> -->
                                </div>
                                <div class="form-group">
                                    <label for="Last name" class="text-info lastname">Last name:</label><br>
                                    <input type="lastname" name="lastname" id="lastname" class="form-control inputlastname">
                                   
                                   <div id="sucece"></div> <!-- <p class="err-password" id="password-error-message">Không được để trống</p> -->
                                </div>
                                <div class="form-group">
                                    <label for="Email address" class="text-info emailaddress">Email address:</label><br>
                                    <input type="emailaddress" name="emailaddress" id="emailaddress" class="form-control inputemailaddress">
                                    <!-- <p class="err-password" id="password-error-message">Không được để trống</p> -->
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info password">Password:</label><br>
                                    <input type="password" name="password" id="password" class="form-control inputpassword">
                                    <!-- <p class="err-password" id="password-error-message">Không được để trống</p> -->
                                </div>
                                <div class="form-group">
                                    <label for="Confirm Password" class="text-info confirmPasswordin">Confirm Password:</label><br>
                                    <input type="confirmPassword" name="confirmPassword" id="confirmPassword" class="form-control inputconfirmpassword">
                                    
                                    <div id="succesr"></div><!-- <p class="err-password" id="password-error-message">Không được để trống</p> -->
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                                </div>
                                <div id="register-link" class="text-right">
                                    <a href="http://127.0.0.1:5500/bailam/index.html" class="text-info">Login</a>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/register.js"></script>
    </body>
</html>


<!------ Include the above in your HEAD tag ---------->

